:root {
    --primaryColor: #121212;
    --primaryColor2: #202020;
    --primaryColor3: #242424;
    --secondaryColor: #FFFFFF;
    --secondaryColor2: #a3a3a3;
    --accentColor: #ffd470;
    --complementary: #709BFF;
    --gray: #303030;
}

/* CSS-Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS-Reset End */

/* || SKELETT */

html, body {
    scroll-behavior: smooth; 
    height: 100svh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--secondaryColor);
    --filterWhite: invert(100%) sepia(0%) saturate(7500%) hue-rotate(43deg) brightness(102%) contrast(115%);
    --filterYellow: invert(89%) sepia(83%) saturate(497%) hue-rotate(316deg) brightness(98%) contrast(106%);
    --filterSecondaryColor2:  invert(75%) sepia(5%) saturate(10%) hue-rotate(349deg) brightness(88%) contrast(85%);
    --shodowStandart: 4px 4px 3px 0px rgba(0, 0, 0, 0.4);
    --shadowAround: 0 0 5px 0px rgba(0, 0, 0, 0.4);
    --contentSpace: min(15vh, 200px);
    --radiusSmallBox: min(min(1vw, 1vh), 5px);
    --radiusBigBox: 15%;
    --headlineMarginBottom: 80px;
    --headlineMarginBottomMediumScreen: 60px;
    --headlineMarginBottomSmallScreen: 60px;
    /* Prevent highlighting on Touchscreens */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

/* Prevent the auto color change of Inputs */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

/* || SKELETT - Scrollbar */

::-webkit-scrollbar {
    width: 7px;
    border-radius: var(--radiusSmallBox);
}

::-webkit-scrollbar-track {
    background: var(--primaryColor3);
}

::-webkit-scrollbar-thumb {
    background: var(--secondaryColor);
    border-radius: 2px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: var(--accentColor);
}

body {
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    position: relative;
}

nav, header, main, footer {
    width: min(85%, 1065px);
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', 'Roboto', sans-serif;
    color: var(--secondaryColor);
}

*:focus {
    outline:none;
}

/* || NAVIGATION-BAR*/

.nav {
    display: flex;
    position: absolute;
    height: 70px;
    z-index: 2;
    padding-right: 14px;
    align-items: center;
    justify-content: start;
}

.linkContainer {
    display: flex;
    height: 70px;
}

.linkContainer > .bg {
    position: absolute;
    background-color: #9BADFF;
}

.menuBtn {
    width: 40px;
    height: 40px;
    filter: var(--filterWhite);
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: -10px;
    display: none;
    opacity: 1;
    background-image: url('../assets/menu.svg');
    transition: background-image 0.3s ease;
}

.menuBtn:focus {
    filter: var(--filterYellow);
}

.nav > .logo {
    display: none;
    width: 30px;
    height: 30px;
    background-color: var(--accentColor);
    border-radius: 5px;
    margin-right: 20px;
}

.navLink {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--secondaryColor);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12.5px;
}

.navLink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: var(--accentColor); 
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accentColor);
}

.navLink:focus:after {
    transform: scaleX(1);
}

.navLink:focus {
    color: var(--accentColor);
}

@media (hover: hover) {
    .navLink:hover:after {
        transform: scaleX(1);
    }

    .navLink:hover {
        color: var(--accentColor);
    }
}

@media (pointer: coarse)  {
    .navLink:active {
        color: var(--accentColor);
        background-color: var(--primaryColor3);
    }
}

@media screen and (max-width: 700px) {

    .menuBtn {
        display: inline-block;
    }
    
    .nav {
        height: 60px;
    }

    .linkContainer {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        padding-top: 60px;
        height: 100%;
        width: 100%;
        background-color: var(--primaryColor2);
        transform-origin: top;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out 0.4s;
    }
    
    .linkContainer.showNav {
        transform: translateY(0);
    }

    .linkContainer > .navLink {
        min-height: 60px;
        border-bottom: 1px solid var(--primaryColor3);
    }

    body.showNav {
        overflow: hidden;
    }
}

/* || HEADER */
/* || HEADER - Background Animation*/

.boxes {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    box-shadow: 0px 4px 3px 0px #00000030;
}
    
.boxes > :nth-child(1) {
    left: 10%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 0s infinite;
}

.boxes > :nth-child(2) {
    left: 20%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 0.3s infinite;
}

.boxes > :nth-child(3)  {
    left: 30%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 0.6s infinite;
}
    
.boxes > :nth-child(4) {
    left: 40%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 0.9s infinite;
}

.boxes > :nth-child(5) {
    left: 50%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 1.2s infinite;
}

.boxes > :nth-child(6) {
    left: 60%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 1.5s infinite;
}

.boxes > :nth-child(7) {
    left: 70%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 1.8s infinite;
}

.boxes > :nth-child(8) {
    left: 80%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 2.1s infinite;
}

.boxes > :nth-child(9) {
    left: 90%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 2.4s infinite;
}

.boxes > :nth-child(10) {
    left: 5%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 2.7s infinite;
}

.boxes > :nth-child(11) {
    left: 15%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 3s infinite;
}

.boxes > :nth-child(12)  {
    left: 25%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 3.3s infinite;
}
    
.boxes > :nth-child(13) {
    left: 35%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 3.6s infinite;
}

.boxes > :nth-child(14) {
    left: 45%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 3.9s infinite;
}

.boxes > :nth-child(15) {
    left: 55%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 4.2s infinite;
}

.boxes > :nth-child(16) {
    left: 65%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 4.5s infinite;
}

.boxes > :nth-child(17) {
    left: 75%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 4.8s infinite;
}

.boxes > :nth-child(18) {
    left: 85%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 5.1s infinite;
}

.boxes > * {
    position: absolute;
    background: var(--primaryColor3);
    bottom: -100px;
    border-radius: var(--radiusBigBox);
}

@keyframes animateBigBoxes {
    0%{
        transform: translateY(-3000%) rotate(180deg)
    }
    100%{
        transform: translateY(0) rotate(360deg)
    }
}

@keyframes animateSmallBoxes {
    0%{
        transform: translateY(-6000%) rotate(180deg)
    }
    100%{
        transform: translateY(0) rotate(360deg)
    }
}

@media screen and (max-width: 800px) {

    .boxes > :nth-child(15),
    .boxes > :nth-child(11),
    .boxes > :nth-child(7),
    .boxes > :nth-child(3) {
        display: none;
    }
}

/* || HEADER - Main Part */

header {
    height: 100svh;
    background-color: var(--primaryColor);
    display: grid;
    grid-template: minmax(0, 1000px) auto / auto;
    max-width: 160vh;
    align-content: center;
}

.headerContainer {
    display: grid;
    grid-template: auto auto auto / auto 1fr;
    z-index: 1;
    padding-bottom: min(15vh, 130px);
    gap: min(min(2vw, 2vh), 15px);
}

.headerContainer > .box {
    width: clamp(30px, min(8vh, 8vw), 70px);
    height: clamp(30px, min(8vh, 8vw), 70px);
    border-radius: var(--radiusBigBox);
    background-color: var(--secondaryColor);
    opacity: 0;
    animation: fade-in 0.5s forwards 1s ease-in;
}

.headerContainer > :nth-child(3) {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--accentColor);
}

.headerContainer > :nth-child(4) {
    grid-area: 1 / 2 / 2 / 3;
}

.headerContainer > :nth-child(5) {
    grid-area: 2 / 1 / 3 / 2;
}

h1 {
    grid-area: 2 / 2 / 3 / 3;
    font-size: clamp(1.8rem, min(8vh, 8vw), 5rem);
    opacity: 0;
    animation: fade-in 0.5s forwards 1.5s ease-in;
}

h2 {
    grid-area: 3 / 2 / 4 / 3;
    font-size: clamp(0.9rem, min(4vw, 4vh), 2.5rem);
    color: var(--accentColor);
    margin-top: max(min(-1.5vw, -1vh), -20px);
    opacity: 0;
    animation: fade-in 0.5s forwards 2s ease-in;
}

.photoContainer {
    justify-self: end;
    padding-top: min(15vh, 130px);
    display: grid;
    grid-template: 8.5fr 1.5fr / 1fr auto;
    z-index: 1;
    min-height: 250px;
    max-height: min(600px, 70vh);
    gap: min(min(2vw, 2vh), 15px);
    animation: fade-in-down 1s forwards ease-in;
    opacity: 0;
    height: min-content;
}

.photoContainer > :nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: var(--radiusSmallBox);
    width: min(min(4vw, 4vh), 30px);
    background-color: var(--accentColor);
}

.photoContainer > :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: var(--radiusSmallBox);
    width: min(min(4vw, 4vh), 30px);
    background-color: var(--secondaryColor);
}

.photo {
    grid-area: 1 / 1 / 3 / 2;
    /* Necessary because Firefox does not calculate correctly '100%' */
    height: calc(100svh - min(30vh, 260px) 
    - clamp(30px, min(8vh, 8vw), 70px) 
    - clamp(1.8rem, min(8vh, 8vw), 5rem) 
    - clamp(0.9rem, min(4vw, 4vh), 2.5rem) 
    - min(min(2vw, 2vh), 15px) - 30px);
    width: 100%;
    border-radius: min(min(2vw, 2vh), 10px);
    object-fit: cover;
    min-height: 250px;
    max-height: min(600px, 70vh);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        }
    100% {
        opacity: 1;
        }
  }

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-4vh);
        }
    100% {
        opacity: 1;
        transform: translateY(0);
        }
}

@media screen and (min-width: 1500px) {
    .headerContainer {
        align-self: start;
    }
}

@media screen and (max-width: 550px) and (min-height: 400px) {
    .photoContainer {
        justify-self: center;
    }
}

/* || MAIN */

h3 {
    font-size: 3.5rem;
    margin-bottom: var(--headlineMarginBottom);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.underline {
    width: 130px;
    height: 10px;
    margin-top: min(30px, 3vh);
    border-radius: 3px;
    background-color: var(--accentColor);
}

main {
    display: grid;
    grid-template: auto auto auto auto / auto ;
    column-gap: 80px;
    position: relative;
}

main > * {
    padding-top: var(--contentSpace);
    padding-bottom: var(--contentSpace);
}

@media screen and (max-width: 1000px) {
    h3 {
        font-size: 3rem;
        margin-bottom: var(--headlineMarginBottomMediumScreen);
    }
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: 2.5rem;
        margin-bottom: var(--headlineMarginBottomSmallScreen);
    }
}

/* || MAIN - Navigation-Board */

.navMain {
    display: flex;
    flex-flow: column;
    align-items: left;
    position: sticky;
    top: 0px;
    padding: 0;
    grid-area: 1 / 2 / -1 / 3;
    justify-self: end;
    padding-top: var(--contentSpace);
    z-index: 1000;
    align-self: start
}

.overviewHeader {
    font-size: 24px;
    margin-bottom: 10px;
    margin-right: auto;
}

.weatherAppArticleLinkMain {
    white-space: nowrap;
}

.navLinkMain {
    text-decoration: none;
    color: var(--secondaryColor2);
    padding: 15px 40px 15px 20px;
    border-left: 4px solid var(--secondaryColor2);
    width: auto;
    font-size: 19px;
    display: flex;
    align-items: center;
}

.navLinkMain > img {
    width: 40px;
    filter: var(--filterSecondaryColor2);
    margin: -10px -0px -10px -15px;
}

.navLinkMain:hover, .navLinkMain.active, .navLinkMain:focus {
    color: var(--accentColor);
    border-color: var(--accentColor);
    background-color: var(--gray);
}

.navLinkMain:hover > img, 
.navLinkMain.active > img,
.navLinkMain:focus > img {
    filter: var(--filterYellow);
}

.dropdownNavMain {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.dropdownNavMain.active > * > * {
    opacity: 0;
    animation: fade-in 0.3s forwards 0.4s;
}

.dropdownNavMain > * > * {
    animation: fade-out 0.3s forwards;
}

@media screen and (max-width: 1000px) {
    .navMain {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        }
    100% {
        opacity: 1;
        }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        }
    100% {
        opacity: 0;
        }
}

/* || SECTION ABOUT-ME */
/* || SECTION ABOUT-ME - Introduction */

.aboutMeSection {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    background-color: var(--primaryColor2);
}

/* Background now overflow the sides */
.aboutMeSection.bg { 
    box-shadow: 0 0 0 100vmax var(--primaryColor2);
    clip-path: inset(0 -100vmax); 
}

.aboutMeHeadline {
    display: block;
}

.aboutMeHeadline > .box {
    width: 20%;
    height: 20px;
    display: inline-block;
    background-color: var(--accentColor);
    border-radius: var(--radiusSmallBox);
    margin-right: 20px;
}

.aboutMe {
    display: flex;
    align-items: center;
    gap: 40px;
}

.boxContainer {
    position: relative;
    width: clamp(60px, 6vw, 90px);;
    height: clamp(160px, 16vw, 240px);
    min-width: clamp(60px, 6vw, 90px);
}

@media screen and (max-width: 550px) {
    .aboutMe {
        flex-flow: column-reverse;
    }

    .boxContainer {
        transform: rotate(-90deg);
        margin: -50px;
    }
}

.boxContainer > * {
    width: clamp(40px, 4vw, 60px);
    height: clamp(40px, 4vw, 60px);
    border-radius: 20%;
    box-shadow: var(--shodowStandart);
    position: absolute;
}

.boxContainer > :nth-child(1) {
    background-color: var(--accentColor);
    top: 18.75%;
    left: 0;
}

.boxContainer > :nth-child(2) {
    background-color: var(--accentColor);
    top: 56.25%;
    left: 0;
}

.boxContainer > :nth-child(3) {
    background-color: var(--secondaryColor);
    right: 0;
    top: 37.5%;
}

.boxContainer > :nth-child(4) {
    background-color: var(--secondaryColor);
    top: 0;
    right: 0;
}

.boxContainer > :nth-child(5) {
    background-color: var(--secondaryColor);
    bottom: 0;
    right: 0;
}

.aboutMeText {
    line-height: 2rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--secondaryColor); 
    max-width: 800px;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 600px) {
    .aboutMeText {
        font-size: 1.2rem;
    }
}

/* || SECTION ABOUT-ME - Service */

.serviceContainer {
    margin-top: var(--contentSpace);
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 5px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .serviceContainer {
        grid-template: auto / repeat(2, 1fr);
    }
}

.service {
    height: 160px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 5px solid var(--primaryColor);
    border-radius: min(min(2vw, 2vh), 5px);
    background-color: var(--primaryColor);
    cursor: pointer;
}

@media (hover: hover) {
    .service:hover, .service:focus {
        border-color: var(--accentColor);
    }

    .service:hover > img,
    .service:focus > img {
        filter: var(--filterYellow);
        transform: translateY(-10px);
    }
    
    .service:hover > h4,
    .service:focus > h4 {
        color: var(--accentColor);
        transform: translateY(-10px);
    }
}

@media (pointer: coarse)  {
.service:active, .service:focus  {
        border-color: var(--accentColor);
    }

    .service:active > img,
    .service:focus > img {
        filter: var(--filterYellow);
        transform: translateY(-10px);
    }
    
    .service:active > h4,
    .service:focus > h4 {
        color: var(--accentColor);
        transform: translateY(-10px);
    }
}

.serviceHeadline {
    text-align: center;
    transition: transform 0.2s;
}

.serviceImg {
    filter: var(--filterWhite);
    width: 50px;
    height: 50px;
    transform-origin: bottom;
    transition: transform 0.2s;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

.zoomedArticle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    border-radius: min(min(2vw, 2vh), 5px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform-origin: left;
    transform: translateX(-105%);
    transition: transform 0.4s ease-in-out 0.2s;
    z-index: 1;
    cursor: pointer;
    border: 5px solid var(--primaryColor);
    box-sizing: border-box;
}

.zoomedArticle:hover,
.zoomedArticle:focus {
    border-color: var(--accentColor);
}

.zoomedArticle > img {
    filter: var(--filterYellow);
    width: 50px;
    height: 50px;
}

.zoomedArticle > p {
    max-width: 600px;
    text-align: center;
    color: var(--accentColor);
    font-size: 1.2rem;
    padding: 0 20px;
    line-height: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.zoomedArticle > h4 {
    color: var(--accentColor);
    font-size: 1.2rem;
}

.zoomedArticle.show {
    transform: translateX(0);
}

.zoomedArticle.show ~ .service:hover,
.zoomedArticle.show ~ .service:focus  {
    border-color: var(--primaryColor);
}

/* || SECTION SKILLS */

.skillsSection {
    background-color: var(--primaryColor);
    grid-area: 2 / 1 / 3 / 2;
}

.skillboxContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 80px 30px;
}

.skillbox {
    background-color: var(--primaryColor2);
    border-radius: 25px;
    padding: min(40px, 8vw);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
    flex: 1;
}

.skillboxIcon {
    width: 50px;
}

.skillboxHeadline {
    font-size: 1.6rem;
    text-align: center;
    margin-top: -15px;
}

.partingLine {
    min-height: 5px;
    height: 5px;
    background-color: var(--secondaryColor);
    width: 100%;
    border-radius: 5px;
}

.skillsContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 50px;
    height: 100%;
    padding: 30px 0;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex: 1;
    transition: transform 0.15s linear;
    cursor: default;
}

.skill:hover {
    transform: scale(1.3);
}

.skillIcon {
    width: 35px;
}

.skillParagraph {
    font-size: 1.2rem;
    font-family: 'Russo One', 'Roboto', sans-serif;
    color: var(--accentColor);
}

.skillboxFooter {
    display: flex;
    width: 100%;
    gap: 10px;
}

.boxContainerSkillSection {
    position: relative;
    height: 60px;
    min-width: 100px;
}

.boxContainerSkillSection > * {
    background-color: var(--secondaryColor);
    width: 40px;
    height: 40px;
    border-radius: var(--radiusSmallBox);
    position: absolute;
    box-shadow: var(--shodowStandart);
}

.boxContainerSkillSection > :nth-child(1) {
    top: 0;
    right: 0;
}

.boxContainerSkillSection > :nth-child(2) {
    top: 0;
    left: 0;
    
}

.boxContainerSkillSection > :nth-child(3) {
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: var(--accentColor);
    
}

@media screen and (max-width: 450px) {
    .skillboxIcon {
        width: 45px;
    }
    .skillIcon {
        width: 30px;
    }
    .skillParagraph {
        font-size: 1rem;
        font-family: 'Russo One', 'Roboto', sans-serif;
        color: var(--accentColor);
    }
}
/* || SECTION PROJECTS */

.projectsSection {
    grid-area: 3 / 1 / 4 / 2;
    background-color: var(--primaryColor2);
}

.projectsSection.bg {
    box-shadow: 0 0 0 100vmax var(--primaryColor2);
    clip-path: inset(0 -100vmax); 
}

.project {
    display: flex;
    flex-flow: column;
    gap: min(60px, 10vw);
    margin-right: auto;
    width: fit-content;
    position: relative;
    padding-left: min(10vw, 40px);
}

.projectImgContainer {
    display: flex;
    max-height: 600px;
    gap: min(20px, 2vw);
    width: fit-content;
}

.projectImg {
    max-width: 300px;
    width: calc(50% - min(10px, 1vw));
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--shadowAround);
}

@media screen and (max-width: 550px) {
    .projectImg02, .projectImg03 {
        display: none;
    }
    .projectImg01, .projectImg04 {
        width: 100%;
    }
}

.projectDescription {
    display: flex;
    flex-flow: column;
    position: relative;
    max-width: 620px;
}

.projectBar {
    position: absolute;
    width: min(4vw, 15px);
    height: 100%;
    background-color: var(--accentColor);
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
}

.projectLinkContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 620px;
}

.projectHeadline {
    font-size: 2.2rem;
}

.projectCreationDate {
    font-size: 0.9rem;
}

.projectSkillContainer {
    display: flex;
    gap: 10px;
}

.projectSkillIcon {
    height: 30px;
}

.projectParagraph {
    font-size: 1.2rem;
    line-height: 150%;
    max-width: 580px;
    margin: 20px 0;
}

.projectExecutionBtn {
    background-color: var(--accentColor);
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--primaryColor);
}

.openNewWindowIcon {
    width: 22px;
}

.projectExecutionBtn:hover,
.projectExecutionBtn:focus {
    background-color: var(--secondaryColor);
}

.projectGitLink > img {
    height: 40px;
    width: 40px;
    filter: var(--filterWhite);
    transition: transform 0.15s linear;
}

.projectGitLink > img:hover,
.projectGitLink:focus > img {
    filter: var(--filterYellow);
    transform: scale(1.2);
}

.flowerContainer {
    padding: min(160px, 15vh) 0;
}

.boxContainerProjectSection {
    margin: 0 auto;
    position: relative;
    width: clamp(100px, 10vw, 150px);;
    height: clamp(100px, 10vw, 150px);
    min-width: clamp(100px, 10vw, 150px);
}

.boxContainerProjectSection.animate {
    animation: scrollAnimation 200s linear infinite forwards;
    animation-play-state: paused;
  }
  
@keyframes scrollAnimation {
    0% { 
        transform: rotate(0); 
    }
    100% {
        transform: rotate(40000deg);
    }
}

.boxContainerProjectSection > * {
    width: clamp(40px, 4vw, 60px);
    height: clamp(40px, 4vw, 60px);
    border-radius: 20%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
    position: absolute;
    background-color: var(--secondaryColor);
}

.boxContainerProjectSection > :nth-child(1) {
    top: 0;
    left: 0;
}

.boxContainerProjectSection > :nth-child(2) {
    top: 0;
    right: 0;
}

.boxContainerProjectSection > :nth-child(3) {
    bottom: 0;
    left: 0;
}

.boxContainerProjectSection > :nth-child(4) {
    bottom: 0;
    right: 0;
}

.boxContainerProjectSection > :nth-child(5) {
    background-color: var(--accentColor);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .projectHeadline {
        font-size: 2rem;
    }
    .projectParagraph {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 600px) {
    .projectHeadline {
        font-size: 1.7rem;
    }
}

/* || SECTION Projects - Dialog Window */

dialog[open] {
    transform: translateX(0);
}

dialog {
    background-color: var(--primaryColor);
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    border: none;
    transform: translateX(-100vw);
    transition: 
    transform 0.5s linear,
    overlay 0.5s linear allow-discrete,
    display 0.5s linear allow-discrete;
}

@starting-style {
    dialog[open] {
        transform: translateX(-100vw);
    }
    dialog[open]:modal {
        max-width: 100vw;
        max-height: 100vh;
    }
}

body.hideOverflow {
    overflow: hidden;
}

.projectCloseBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    filter: var(--filterWhite);
    border: none;
    position: absolute;
    right: min(50px, 7vw);
    top: min(50px, 7vw);
    z-index: 1;
}

.projectCloseBtn:hover, .projectCloseBtn:active, .projectCloseBtn:focus {
    filter: var(--filterYellow);
}

/* || SECTION Projects - Dialog Chess Setup */

.chessSetup {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--primaryColor2);
    height: 90vw;
    width: 90vw;
    max-height: 570px;
    max-width: 570px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    box-shadow: var(--shodowStandart);
}

.headlineContainer {
    display: flex;
    flex-flow: column;

}

.player01Input, .player02Input, .botBtn, .startChessGame, .chessSetup {
    font-family: 'Russo One', 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
}

.chessHeadline {
    font-size: 6rem;
    color: var(--secondaryColor);
}

.chessHeadlineSubtext {
    font-size: 1.5rem;
    color: var(--primaryColor2);
    background-color: var(--accentColor);
    width: min-content;
    align-self: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 5px 5px 2px;
    margin-top: -7px;
}

.selectionContainer {
    display: grid;
    grid-template: 1fr auto 1fr / 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 40px;
}

.player01Input {
    grid-area: 1 / 1 / 4 / 2;
}

.vsImg {
    grid-area: 1 / 2 / 4 / 3;
    margin: 0 40px;
}

.player02Input {
    grid-area: 1 / 3 / 2 / 4;
}

.chessOrParagraph {
    color: var(--secondaryColor);
    grid-area: 2 / 3 / 3 / 4;
    margin: 5px 0;
}

.botBtn {
    grid-area: 3 / 3 / 4 / 4;
}

.player01Input, .player02Input, .botBtn {
    font-size: 1.25rem;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--primaryColor2);
}

.player01Input:focus, .player02Input:focus {
    outline: none;
    background-color: var(--accentColor);
}

.player01Input:hover, 
.player02Input:hover, 
.botBtn:hover,  
.botBtn:focus,
.startChessGame:hover,
.startChessGame:focus,
.player01Input.selected,
.player02Input.selected,
.botBtn.selected {
    background-color: var(--accentColor);
}

.startChessGame {
    font-size: 2.5rem;
    padding: 0;
    border-radius: 5px;
    border: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    display: flex;
    align-items: center;
    color: var(--primaryColor2);
}

@media  screen and (max-width: 450px),
        screen and (max-height: 450px) {
    .chessSetup {
        height: 100vw;
        width: 100vw;
        border-radius: 0;
    }
        
    .chessHeadline {
        font-size: 4.5rem;
    }
    .chessHeadlineSubtext {
        font-size: 1rem;
    }
    .player01Input, .player02Input, .botBtn {
        font-size: 1rem;
        padding: 5px 0;
    }
    .startChessGame {
        font-size: 1.25rem;
    }
    .vsImg {
        width: 45px;
        margin: 0 20px;
    }
}

@media screen and (orientation: landscape) {
    .chessSetup {
        height: 90vh;
        width: 90vh;
    }
}

@media screen and (max-height: 450px) {
    .chessSetup {
        height: 100vh;
        width: 100vh;
    }
}

/* || SECTION Projects - Dialog Chess Game */

.boardInnerBorder {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accentColor);
    border: 5px solid var(--primaryColor);
    box-shadow: 0px 0px 10px 2px #000000;
    position: relative;
}

.mainBoard {
    position: absolute;
    top: clamp(4px, 1vw, 6px);
    right: clamp(4px, 1vw, 6px);
    left: clamp(4px, 1vw, 6px);
    bottom: clamp(4px, 1vw, 6px);
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    border: 5px solid var(--primaryColor);
    box-shadow: 0px 0px 10px 2px #000000;
}

.fieldCluster.white {
    background-color: var(--secondaryColor);
}

.fieldCluster.black {
    background-color: var(--primaryColor2);
}

.fieldCluster {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: padding 0.1s linear;
}

.fieldCluster > img {
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: drop-shadow(0px 0px 1.25px rgb(255, 255, 255));
    animation: fadeInChessPiece 0.5s linear;
}

@keyframes fadeInChessPiece {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    75% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fieldCluster:hover,
.fieldCluster:focus {
    background-color: var(--accentColor);
    padding: 0;
}

.fieldCluster.white.highlighted {
    background-color: #ffe2a0;
}

.fieldCluster.black.highlighted {
    background-color: #e2c98d;
}

.fieldCluster.white.highlighted:hover, 
.fieldCluster.black.highlighted:hover,
.fieldCluster.white.highlighted:focus, 
.fieldCluster.black.highlighted:focus  {
    background-color: var(--accentColor);
}

.fieldCluster.black.highlightedAi, 
.fieldCluster.white.highlightedAi {
    background-color: var(--accentColor);
}

.chessPopUp {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    width: 200px;
    height: 100px;
    background-color: var(--primaryColor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    color: var(--accentColor);
    transition: opacity 0.2s linear;
    border: 4px solid var(--accentColor);
}

.chessPopUp.show {
    z-index: 1;
    animation: chessPopUp 1.2s linear forwards;
}

.chessPopUp.showWin {
    z-index: 1;
    animation: chessPopUp 5s linear forwards;
    width: 300px;
}

@keyframes chessPopUp {
    0% {
        transform: translateY(-65vh);
    }
    20% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-65vh);
    }
}


@media  screen and (max-width: 450px),
        screen and (max-height: 450px) {
    .boardInnerBorder {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .fieldCluster {
        padding: 1px;
    }
}

/* || SECTION Projects - Dialog Weather App */

/* || SECTION CONTACT */

.contactSection {
    grid-area: 4 / 1 / 5 / 2;
}

.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto
}

.contact > p {
    font-weight: bold;
    font-size: 1rem;;
    text-align: center;
}

.contact > .email {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: normal;
    font-family: 'Russo One', 'Roboto', sans-serif;
    margin-top: 10px;
    text-align: center;
}

.orContainer {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.orContainer > .partingLine {
    background-color: var(--accentColor);
}

.orParagraph {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: bold;
    letter-spacing: 8px;
    display: flex;
    margin: 50px 0;
    margin-right: -8px;
}

.contactLinkContainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mailIcon.contactLinkIcon  {
    width: 75px;
    height: 75px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.contactLinkIcon {  
    width: 60px;
    height: 60px;
    filter: var(--filterYellow);
    transition: transform 0.1s linear;
}

.contactLinkIcon:hover,
.contactLink:focus > .contactLinkIcon {
    filter: var(--filterWhite);
    transform: scale(1.2);
}

/* || FOOTER */

footer {
    width: 100%;
    border-top: 5px solid var(--accentColor);
    padding: min(80px, 6vh) 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}

.boxContainerFooter {
    display: flex;
    gap: 20px;
    margin-right: 160px;
}

.boxContainerFooter > * {
    width: 30px;
    height: 30px;
    background-color: var(--secondaryColor);
    border-radius: var(--radiusBigBox);
    box-shadow: var(--shodowStandart);
}

.boxContainerFooter > :nth-child(2) {
    background-color: var(--accentColor);
}

.copyright {
    margin-right: 80px;
    width: fit-content;
    color: var(--secondaryColor2);
    line-height: 20px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    footer {
        align-items: center;
    }

    .boxContainerFooter, .copyright {
        margin: 0 20px;
    }
}