@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* CSS-Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS-Reset End */

/* || SKELETT */

html, body {
    scroll-behavior: smooth; 
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--secondaryColor);
    --primaryColor: #121212;
    --primaryColor2: #202020;
    --primaryColor3: #242424;
    --secondaryColor: #FFFFFF;
    --secondaryColor2: #a3a3a3;
    --accentColor: #ffd470;
    --complementary: #9BADFF;
    --gray: #303030;
    --filterWhite: invert(100%) sepia(0%) saturate(7500%) hue-rotate(43deg) brightness(102%) contrast(115%);
    --filterYellow: invert(89%) sepia(83%) saturate(497%) hue-rotate(316deg) brightness(98%) contrast(106%);
    --filterSecondaryColor2:  invert(75%) sepia(5%) saturate(10%) hue-rotate(349deg) brightness(88%) contrast(85%);
    --shodowStandart: 8px 8px 8px 0px rgba(0,0,0,0.2);
    --contentSpace: min(15vh, 130px);
    --radiusSmallBox: min(min(1vw, 1vh), 5px);
    --radiusBigBox: 15%;
    --headlineMarginBottom: 80px;
    --headlineMarginBottomMediumScreen: 60px;
    --headlineMarginBottomSmallScreen: 40px;
}

body {
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    position: relative;
}

nav, header, main, footer {
    width: min(85%, 1065px);
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', 'Roboto', sans-serif;
    color: var(--secondaryColor);
}

/* || NAVIGATION-BAR*/

.nav {
    display: flex;
    position: absolute;
    height: 70px;
    z-index: 2;
    align-items: center;
    justify-content: start;
}

.linkContainer {
    display: flex;
    height: 70px;
}

.linkContainer > .bg {
    position: absolute;
    background-color: #9BADFF;
}

.menuBtn {
    width: 40px;
    height: 40px;
    filter: var(--filterWhite);
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: -10px;
    display: none;
    opacity: 1;
    background-image: url('../assets/menu.svg');
    transition: background-image 0.3s ease;
}

.nav > .box {
    width: 30px;
    height: 30px;
    background-color: var(--accentColor);
    border-radius: 5px;
    margin-right: 20px;
}

.navLink {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--secondaryColor);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12.5px;
}

.navLink:hover {
    color: var(--accentColor);
}

.navLink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: var(--accentColor); 
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accentColor);
}
  
.navLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

@media screen and (max-width: 700px) {

    .menuBtn {
        display: block;
    }
    
    .nav {
        height: 60px;
    }

    .linkContainer {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        padding-top: 60px;
        height: 100%;
        width: 100%;
        background-color: var(--primaryColor2);
        transform-origin: top;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out 0.3s;
    }
    
    .linkContainer.showNav {
        transform: translateY(0);
    }

    .linkContainer > .navLink {
        min-height: 60px;
        border-bottom: 1px solid var(--primaryColor3);
    }

    body.showNav {
        overflow: hidden;
    }
}

/* || HEADER */
/* || HEADER - Background Animation*/

.boxes {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    box-shadow: 0px 4px 3px 0px #00000030;
}
    
.boxes > :nth-child(1) {
    left: 10%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 0s infinite;
}

.boxes > :nth-child(2) {
    left: 20%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 0.3s infinite;
}

.boxes > :nth-child(3)  {
    left: 30%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 0.6s infinite;
}
    
.boxes > :nth-child(4) {
    left: 40%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 0.9s infinite;
}

.boxes > :nth-child(5) {
    left: 50%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 1.2s infinite;
}

.boxes > :nth-child(6) {
    left: 60%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 1.5s infinite;
}

.boxes > :nth-child(7) {
    left: 70%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 1.8s infinite;
}

.boxes > :nth-child(8) {
    left: 80%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 2.1s infinite;
}

.boxes > :nth-child(9) {
    left: 90%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 2.4s infinite;
}

.boxes > :nth-child(10) {
    left: 5%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 2.7s infinite;
}

.boxes > :nth-child(11) {
    left: 15%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 3s infinite;
}

.boxes > :nth-child(12)  {
    left: 25%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 3.3s infinite;
}
    
.boxes > :nth-child(13) {
    left: 35%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 3.6s infinite;
}

.boxes > :nth-child(14) {
    left: 45%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 3.9s infinite;
}

.boxes > :nth-child(15) {
    left: 55%;
    height: 70px;
    width: 70px;
    animation: animateBigBoxes 12s linear 4.2s infinite;
}

.boxes > :nth-child(16) {
    left: 65%;
    height: 20px;
    width: 20px;
    animation: animateSmallBoxes 6s linear 4.5s infinite;
}

.boxes > :nth-child(17) {
    left: 75%;
    height: 30px;
    width: 30px;
    animation: animateSmallBoxes 8s linear 4.8s infinite;
}

.boxes > :nth-child(18) {
    left: 85%;
    height: 45px;
    width: 45px;
    animation: animateBigBoxes 10s linear 5.1s infinite;
}

.boxes > * {
    position: absolute;
    background: var(--primaryColor3);
    bottom: -100px;
    border-radius: var(--radiusBigBox);
}

@keyframes animateBigBoxes {
    0%{
        transform: translateY(-3000%) rotate(180deg)
    }
    100%{
        transform: translateY(0) rotate(360deg)
    }
}

@keyframes animateSmallBoxes {
    0%{
        transform: translateY(-6000%) rotate(180deg)
    }
    100%{
        transform: translateY(0) rotate(360deg)
    }
}

@media screen and (max-width: 800px) {

    .boxes > :nth-child(15),
    .boxes > :nth-child(11),
    .boxes > :nth-child(7),
    .boxes > :nth-child(3) {
        display: none;
    }
}

/* || HEADER - Main Part */

header {
    height: 100vh;
    background-color: var(--primaryColor);
    display: grid;
    grid-template: minmax(0, 1000px) auto / auto;
    gap: 30px;
    max-width: 160vh;
    max-height: 300vw;
    align-content: center;
}

.headerContainer {
    display: grid;
    grid-template: auto auto auto / auto 1fr;
    z-index: 1;
    padding-bottom: var(--contentSpace);
    gap: min(min(2vw, 2vh), 15px);
}

.headerContainer > .box {
    width: clamp(30px, min(8vh, 8vw), 70px);
    height: clamp(30px, min(8vh, 8vw), 70px);
    border-radius: var(--radiusBigBox);
    background-color: var(--secondaryColor);
    opacity: 0;
    animation: fade-in 0.5s forwards 1s ease-in;
}

.headerContainer > :nth-child(3) {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--accentColor);
}

.headerContainer > :nth-child(4) {
    grid-area: 1 / 2 / 2 / 3;
}

.headerContainer > :nth-child(5) {
    grid-area: 2 / 1 / 3 / 2;
}

h1 {
    grid-area: 2 / 2 / 3 / 3;
    font-size: clamp(1.8rem, min(8vh, 8vw), 5rem);
    opacity: 0;
    animation: fade-in 0.5s forwards 1.5s ease-in;
}

h2 {
    grid-area: 3 / 2 / 4 / 3;
    font-size: clamp(0.9rem, min(4vw, 4vh), 2.5rem);
    color: var(--accentColor);
    margin-top: max(min(-1.5vw, -1vh), -20px);
    opacity: 0;
    animation: fade-in 0.5s forwards 2s ease-in;
}

.photoContainer {
    justify-self: end;
    padding-top: var(--contentSpace);
    display: grid;
    grid-template: 85% 15% / 1fr auto;
    z-index: 1;
    min-height: 250px;
    max-height: min(800px, 70vh);
    gap: min(min(2vw, 2vh), 15px);
    animation: fade-in-down 1s forwards ease-in;
    opacity: 0;
}

.photoContainer > :nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: var(--radiusSmallBox);
    width: min(min(4vw, 4vh), 30px);
    background-color: var(--accentColor);
}

.photoContainer > :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    border-radius: var(--radiusSmallBox);
    width: min(min(4vw, 4vh), 30px);
    background-color: var(--secondaryColor);
}

.photo {
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
    width: 100%;
    border-radius: min(min(2vw, 2vh), 10px);
    object-fit: cover;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        }
    100% {
        opacity: 1;
        }
  }

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-4vh);
        }
    100% {
        opacity: 1;
        transform: translateY(0);
        }
}

@media screen and (min-width: 1500px) {
    .headerContainer {
        align-self: start;
    }
}

@media screen and (max-width: 400px) {
    .photoContainer {
        justify-self: center;
    }
}

/* || MAIN */

h3 {
    font-size: 4rem;
    margin-bottom: var(--headlineMarginBottom);
}

main {
    display: grid;
    grid-template: auto auto auto auto / auto ;
    column-gap: 80px;
}

main > * {
    padding-top: var(--contentSpace);
    padding-bottom: var(--contentSpace);
}

@media screen and (max-width: 1000px) {
    h3 {
        font-size: 3rem;
        margin-bottom: var(--headlineMarginBottomMediumScreen);
    }
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: 2.5rem;
        margin-bottom: var(--headlineMarginBottomSmallScreen);
    }
}

/* || MAIN - Navigation-Board */

.navMain {
    display: flex;
    flex-flow: column;
    align-items: left;
    position: sticky;
    top: 0px;
    padding: 0;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    padding-top: var(--contentSpace);
}

.overviewHeader {
    font-size: 24px;
    margin-bottom: 10px;
}

.weatherAppArticleLinkMain {
    white-space: nowrap;
}

.navLinkMain {
    text-decoration: none;
    color: var(--secondaryColor2);
    padding: 15px 40px 15px 20px;
    border-left: 4px solid var(--secondaryColor2);
    width: auto;
    font-size: 19px;
    display: flex;
    align-items: center;
}

.navLinkMain > img {
    width: 40px;
    filter: var(--filterSecondaryColor2);
    margin: -10px -0px -10px -15px;
}

.navLinkMain:hover, .navLinkMain.active {
    color: var(--accentColor);
    border-color: var(--accentColor);
    background-color: var(--gray);
}

.navLinkMain:hover > img, .navLinkMain.active > img {
    filter: var(--filterYellow);
}

.dropdownNavMain {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.dropdownNavMain.active > * > * {
    opacity: 0;
    animation: fade-in 0.3s forwards 0.4s;
}

.dropdownNavMain > * > * {
    animation: fade-out 0.3s forwards;
}

@media screen and (max-width: 900px) {
    .navMain {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        }
    100% {
        opacity: 1;
        }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        }
    100% {
        opacity: 0;
        }
}

/* || SECTION ABOUT */



.aboutMeSection {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    background-color: var(--primaryColor2);
}

/* Background now overflow the sides */
.aboutMeSection.bg { 
    box-shadow: 0 0 0 100vmax var(--primaryColor2);
    clip-path: inset(0 -100vmax); 
    z-index: -1;
}

.aboutMeHeadline > .box {
    width: 20%;
    height: 20px;
    display: inline-block;
    background-color: var(--accentColor);
    border-radius: var(--radiusSmallBox);
    margin-right: 20px;
}

.aboutMe {
    display: flex;
    align-items: center;
    gap: 40px;
}

.boxContainer {
    position: relative;
    width: clamp(60px, 6vw, 90px);;
    height: clamp(160px, 16vw, 240px);
    min-width: clamp(60px, 6vw, 90px);
}

@media screen and (max-width: 550px) {
    .aboutMe {
        flex-flow: column-reverse;
    }

    .boxContainer {
        transform: rotate(-90deg);
        margin: -50px;
    }
}

.boxContainer > * {
    width: clamp(40px, 4vw, 60px);
    height: clamp(40px, 4vw, 60px);
    border-radius: 20%;
    box-shadow: var(--shodowStandart);
    position: absolute;
}

.boxContainer > :nth-child(1) {
    background-color: var(--accentColor);
    top: 18.75%;
    left: 0;
}

.boxContainer > :nth-child(2) {
    background-color: var(--accentColor);
    top: 56.25%;
    left: 0;
}

.boxContainer > :nth-child(3) {
    background-color: var(--secondaryColor);
    right: 0;
    top: 37.5%;
}

.boxContainer > :nth-child(4) {
    background-color: var(--secondaryColor);
    top: 0;
    right: 0;
}

.boxContainer > :nth-child(5) {
    background-color: var(--secondaryColor);
    bottom: 0;
    right: 0;
}

.aboutMeText {
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--secondaryColor); 
    max-width: 800px;
}

@media screen and (max-width: 600px) {
    .aboutMeText {
        font-size: 1.2rem;
    }
}

/* || SECTION SKILLS */

.skillsSection {
    background-color: var(--primaryColor);
    grid-area: 2 / 1 / 3 / 2;
}

.skillsHeadline {
}

/* || SECTION PROJECTS */

.projectsSection {
    grid-area: 3 / 1 / 4 / 2;
    height: 100vh;
}

/* || SECTION PROJECTS - Chess */

.projectsSection > article {
    height: 40vh;
}

/* || SECTION CONTACT */

.contactSection {
    grid-area: 4 / 1 / 5 / 2;
    height: 100vh;
}


/* || FOOTER */